{% extends 'layout.html' %}
{% block content %}

<section>

    <div class="index-wrapper">
        <div class="containe text-light text-center welcome">
            <div class="row mb-3">
                <div class="col">
                    <h1>Stream Your Favorite Movies and TV Shows</h1>
                    <P>
                        Discover new films every day.
                        <br>Watch favorite events and live sports every week.
                        <br>Endless entertainment on QuickStream.
                    </P>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="https://github.com/quickstream0/app-release/releases/download/v1.0.15/quickstream-v1.0.15.apk"
                        class="btn btn-primary"><i class="fa-solid fa-download"></i> Download (Android)</a>
                </div>
                <!-- <div class="col">
                        <a href="#" class="btn btn-success">Subscribe</a>
                    </div> -->
            </div>
        </div>
    </div>

</section>

<section class="p-5" id="features">

    <div class="container-fluid text-center">

        <div class="row">
            <div class="feature-box col-lg-3 col-md-6 my-2">
                <i class="icon fa-solid fa-crown fa-4x"></i>
                <h3 class="feature-title">High Quality</h3>
                <p>Quality</p>
            </div>

            <div class="feature-box col-lg-3 col-md-6 my-2">
                <i class="icon fa-solid fa-bolt-lightning fa-4x"></i>
                <h3 class="feature-title">Fast Load</h3>
                <p>Buffer</p>
            </div>

            <div class="feature-box col-lg-3 col-md-6 my-2">
                <i class="icon fa-solid fa-rectangle-ad fa-4x"></i>
                <h3 class="feature-title">AD Free</h3>
                <p>Ads</p>
            </div>

            <div class="feature-box col-lg-3 col-md-6 my-2">
                <i class="icon fa-solid fa-closed-captioning fa-4x"></i>
                <h3 class="feature-title">Multi Subtitles</h3>
                <p>Subtitles</p>
            </div>

        </div>

    </div>
</section>

<section class="p-5" id="features">

    <div class="container-fluid text-center">

        <div class="row">
            <div class="feature-box col-lg-3 col-md-6 my-2">
                <h3 class="feature-title">80,000+</h3>
                <p>Movies & TV Shows</p>
            </div>

            <div class="feature-box col-lg-3 col-md-6 my-2">
                <h3 class="feature-title">1000+</h3>
                <p>Sports & Entertainment Channels</p>
            </div>

            <div class="feature-box col-lg-3 col-md-6 my-2">
                <h3 class="feature-title">20,000+</h3>
                <p>Anime Movies & TV Shows</p>
            </div>

            <div class="feature-box col-lg-3 col-md-6 my-2">
                <h3 class="feature-title">Unlimited</h3>
                <p>Entertainment</p>
            </div>

        </div>

    </div>
</section>

<!-- Screenshots Section -->
<section class="screenshots-section py-5">
    <div class="container">
        <h2 class="text-center mb-5">Screenshots</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            <!-- Screenshot 1 -->
            <div class="col" data-aos="fade-up" data-aos-duration="1000">
                <div class="card h-100">
                    <a href="{{ url_for('static', filename='images/screenshots/home_listview.png') }}"
                        data-lightbox="screenshots" data-title="Screenshot 1">
                        <img src="{{ url_for('static', filename='images/screenshots/home_listview.png') }}"
                            class="card-img-top" alt="Screenshot 1" loading="lazy">
                    </a>
                </div>
            </div>
            <!-- Screenshot 2 -->
            <div class="col" data-aos="fade-up" data-aos-duration="1000">
                <div class="card h-100">
                    <a href="{{ url_for('static', filename='images/screenshots/home.png') }}"
                        data-lightbox="screenshots" data-title="Screenshot 2">
                        <img src="{{ url_for('static', filename='images/screenshots/home.png') }}"
                            class="card-img-top" alt="Screenshot 2" loading="lazy">
                    </a>
                </div>
            </div>
            <!-- Screenshot 3 -->
            <div class="col" data-aos="fade-up" data-aos-duration="1000">
                <div class="card h-100">
                    <a href="{{ url_for('static', filename='images/screenshots/detail.png') }}"
                        data-lightbox="screenshots" data-title="Screenshot 3">
                        <img src="{{ url_for('static', filename='images/screenshots/detail.png') }}"
                            class="card-img-top" alt="Screenshot 3" loading="lazy">
                    </a>
                </div>
            </div>
            <!-- Screenshot 4 -->
            <div class="col" data-aos="fade-up" data-aos-duration="1000">
                <div class="card h-100">
                    <a href="{{ url_for('static', filename='images/screenshots/season_details.png') }}"
                        data-lightbox="screenshots" data-title="Screenshot 4">
                        <img src="{{ url_for('static', filename='images/screenshots/season_details.png') }}"
                            class="card-img-top" alt="Screenshot 4" loading="lazy">
                    </a>
                </div>
            </div>
            <!-- Screenshot 5 -->
            <div class="col" data-aos="fade-up" data-aos-duration="1000">
                <div class="card h-100">
                    <a href="{{ url_for('static', filename='images/screenshots/schedule_home.png') }}"
                        data-lightbox="screenshots" data-title="Screenshot 5">
                        <img src="{{ url_for('static', filename='images/screenshots/schedule_home.png') }}"
                            class="card-img-top" alt="Screenshot 5" loading="lazy">
                    </a>
                </div>
            </div>
            <!-- Screenshot 6 -->
            <div class="col" data-aos="fade-up" data-aos-duration="1000">
                <div class="card h-100">
                    <a href="{{ url_for('static', filename='images/screenshots/schedule.png') }}"
                        data-lightbox="screenshots" data-title="Screenshot 6">
                        <img src="{{ url_for('static', filename='images/screenshots/schedule.png') }}"
                            class="card-img-top" alt="Screenshot 6" loading="lazy">
                    </a>
                </div>
            </div>
            <!-- Screenshot 7 -->
            <div class="col" data-aos="fade-up" data-aos-duration="1000">
                <div class="card h-100">
                    <a href="{{ url_for('static', filename='images/screenshots/schedule2.png') }}"
                        data-lightbox="screenshots" data-title="Screenshot 7">
                        <img src="{{ url_for('static', filename='images/screenshots/schedule2.png') }}"
                            class="card-img-top" alt="Screenshot 7" loading="lazy">
                    </a>
                </div>
            </div>
            <!-- Screenshot 8 -->
            <div class="col" data-aos="fade-up" data-aos-duration="1000">
                <div class="card h-100">
                    <a href="{{ url_for('static', filename='images/screenshots/event_list.png') }}"
                        data-lightbox="screenshots" data-title="Screenshot 8">
                        <img src="{{ url_for('static', filename='images/screenshots/event_list.png') }}"
                            class="card-img-top" alt="Screenshot 8" loading="lazy">
                    </a>
                </div>
            </div>
            <!-- Screenshot 9 -->
            <div class="col" data-aos="fade-up" data-aos-duration="1000">
                <div class="card h-100">
                    <a href="{{ url_for('static', filename='images/screenshots/event_search.png') }}"
                        data-lightbox="screenshots" data-title="Screenshot 9">
                        <img src="{{ url_for('static', filename='images/screenshots/event_search.png') }}"
                            class="card-img-top" alt="Screenshot 9" loading="lazy">
                    </a>
                </div>
            </div>
            <!-- Screenshot 10 -->
            <div class="col" data-aos="fade-up" data-aos-duration="1000">
                <div class="card h-100">
                    <a href="{{ url_for('static', filename='images/screenshots/event_channels.png') }}"
                        data-lightbox="screenshots" data-title="Screenshot 10">
                        <img src="{{ url_for('static', filename='images/screenshots/event_channels.png') }}"
                            class="card-img-top" alt="Screenshot 10" loading="lazy">
                    </a>
                </div>
            </div>
            <!-- Screenshot 11 -->
            <div class="col" data-aos="fade-up" data-aos-duration="1000">
                <div class="card h-100">
                    <a href="{{ url_for('static', filename='images/screenshots/channels.png') }}"
                        data-lightbox="screenshots" data-title="Screenshot 11">
                        <img src="{{ url_for('static', filename='images/screenshots/channels.png') }}"
                            class="card-img-top" alt="Screenshot 11" loading="lazy">
                    </a>
                </div>
            </div>
            <!-- Screenshot 12 -->
            <div class="col" data-aos="fade-up" data-aos-duration="1000">
                <div class="card h-100">
                    <a href="{{ url_for('static', filename='images/screenshots/languages.png') }}"
                        data-lightbox="screenshots" data-title="Screenshot 12">
                        <img src="{{ url_for('static', filename='images/screenshots/languages.png') }}"
                            class="card-img-top" alt="Screenshot 12" loading="lazy">
                    </a>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-2 g-4 my-5">
            <!-- Screenshot 13 -->
            <div class="col" data-aos="fade-up" data-aos-duration="1000">
                <div class="card h-100">
                    <a href="{{ url_for('static', filename='images/screenshots/player.png') }}"
                        data-lightbox="screenshots" data-title="Screenshot 13">
                        <img src="{{ url_for('static', filename='images/screenshots/player.png') }}"
                            class="card-img-top" alt="Screenshot 13" loading="lazy">
                    </a>
                </div>
            </div>
            <!-- Screenshot 14 -->
            <div class="col" data-aos="fade-up" data-aos-duration="1000">
                <div class="card h-100">
                    <a href="{{ url_for('static', filename='images/screenshots/liveplayer.png') }}"
                        data-lightbox="screenshots" data-title="Screenshot 14">
                        <img src="{{ url_for('static', filename='images/screenshots/liveplayer.png') }}"
                            class="card-img-top" alt="Screenshot 14" loading="lazy">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}