<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/logos/logo_64.png') }}" type="image/x-icon" />
    <title>Payment Received</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/payment.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/logos/logo_96.png') }}" alt="QuickStream" class="logo">
        {% if status == 'completed' %}
        <p class="message">Your payment has been received. You can close this page now.</p>
        {% elif status == 'failed' %}
        <p class="message">Your payment processing has failed. You can close this page now.</p>
        {% elif status == 'reversed' %}
        <p class="message">Your payment has been reversed. You can close this page now.</p>
        {% elif status == 'invalid' %}
        <p class="message">Invalid payment. You can close this page now.</p>
        {% else %}
        <p class="message">Unable to process your payment. You can close this page now.</p>
        {% endif %}
    </div>
</body>
</html>