<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/logos/logo_64.png') }}" type="image/x-icon" />
    <title>Payment Received</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/payment.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/logos/logo_96.png') }}" alt="QuickStream" class="logo">
        <p class="message">Your payment has been received. You can close this page now.</p>
    </div>
</body>
</html>