<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/logos/logo_64.png') }}" type="image/x-icon" />
    <title>Payment Received</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/payment.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/logos/logo_96.png') }}" alt="QuickStream" class="logo">
        {% if status == 'completed' %}
        <p class="message">Payment processing completed. Your payment has been received.</p>
        <p>You can now close this page.</p>
        {% elif status == 'failed' %}
        <p class="message">Your payment processing has failed. Please try again after few minutes.</p>
        <p>You can now close this page.</p>
        {% elif status == 'reversed' %}
        <p class="message">Your payment has been reversed.</p>
        <p>You can now close this page.</p>
        {% elif status == 'invalid' %}
        <p class="message">Invalid payment. Payment rejected.</p>
        <p>You can now close this page.</p>
        {% else %}
        <p class="message">Your payment is being processed. You will be notified for changes in few seconds.</p>
        <p>You can now close this page.</p>
        <!-- <p class="message">Unable to process your payment.</p>
        <p>You can now close this page.</p> -->
        {% endif %}
    </div>
</body>
</html>