{% extends 'auth-layout.html' %}
{% block content %}
    <div class="container form">
        <header class="pb-2">Reset Password</header>
        <form action="{{ url_for('auth_view.reset_request') }}" method="post">
            {{ form.hidden_tag() }}
            {% if errors %}
            <div class="error-text my-3">
                {% for error in errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <div class="mb-2 field input">
                {{ form.email.label(class="form-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control") }}
                {% endif %}
            </div>
            <div class="submit">
                {{ form.submit(class="btn btn-primary my-2 field button") }}
            </div>  
        </form>
        <!-- <div class="link text-center my-2">Back to <a href="{{ url_for('auth_view.login') }}">login</a></div> -->
    </div>

{% endblock content %}